/* Homepage.css */

.homepage {
  padding: 20px;
  max-width: 1200px;
  margin: auto;
}

.search-container {
  display: flex;
  justify-content: space-around;
  margin-bottom: 20px;
  gap: 10px;
}

.search-container input {
  padding: 10px;
  width: 30%;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  transition: all 0.3s ease-in-out;
}

.search-container input:focus {
  border-color: #007bff;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
  outline: none;
}

.search-container button {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

.search-container button:hover {
  background-color: #0056b3;
}

.cards-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* Four cards per row */
  gap: 20px;
}

.card {
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  transition: transform 0.3s ease;
  background-color: #fff;
  width: calc(100% - 40px); 
 height: 300px;
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}

.card img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 10px;
}

.card h2 {
  font-size: 20px;
  margin-bottom: 10px;
  color: #333;
}

.card p {
  margin: 5px 0;
  font-size: 16px;
  color: #666;
}

.search-container select.language-select {
  width: 200px; 
  text-align: center;
}

.search-container select.Education-select {
  width: 200px;
  text-align: center;
}
  
.search-container select.Specialization-select {
  width: 200px;
  text-align: center;
}
